pypsa>=0.18.1
atlite>=0.2.5
dask
xlrd
openpyxl
pycountry
seaborn
memory_profiler
pyyaml
tables
lxml
powerplantmatching>=0.4.8
numpy
pandas
geopandas
xarray
netcdf4
networkx
scipy
shapely
progressbar2
pyomo
matplotlib
proj
ipython
cartopy
descartes
rasterio
geopy
tqdm
pytz
country_converter
tabula-py
vresutils>=0.3.1
tsam>=1.1.0
distributed
snakemake